<div class="jumbotron">
    <h1>Library Management</h1>
    <p class="lead">Welcome to Library Management Application.</p>
    <p>
		@Html.ActionLink("View All Books In Library", "", "Book", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
	@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>


<div class="row">
	<div class="col-md-4">
		<h2>What would you like to do?</h2>	

	</div>

</div>

