

@{
    ViewBag.Title = "Books";
}

<h2>Library Management</h2>

<div class="row">
	<div class="col-md-4">
		<h2>What would you like to do?</h2>
		<ul>
			<li>View all books and availability in library</li>
			<li>Update a book details</li>
			<li>Get details about a book</li>
			<li>Delete book in library repository</li>
		</ul>

	</div>

</div>




	
	